<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CAPPamari</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="blockingDiv">
            <span id="blockingDivSpan"></span>
        </div>
        <div id="advisorDialogRoot">
            <table style="width:100%">
                <tr>
                    <td style="text-align:right">Name:</td>
                    <td style="text-align:left"><input id="advisorName" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right">Email:</td>
                    <td style="text-align:left"><input id="advisorEmail" type="email" /></td>
                </tr>
                <tr>
                    <td style="text-align:right"><input type="button" onclick="SubmitAdvisorInformation()" value="Submit" /></td>
                    <td style="text-align:left"><input type="button" onclick="CancelAdvisorDialog()" value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="registrationDialogRoot">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:right;">User Name:</td>
                    <td style="text-align:left;"><input id="registrationUserName" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Password:</td>
                    <td style="text-align:left;"><input id="registrationPassword1" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Confirm Password:</td>
                    <td style="text-align:left;"><input id="registrationPassword2" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Major:</td>
                    <td style="text-align:left;"><input id="registrationMajor" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="registrationSubmit" type="button" onclick="SubmitRegistrationInformation()" value="Submit" /></td>
                    <td style="text-align:left;"><input id="registrationCancel" type="button" onclick="CancelRegistration()" value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="singletonClassAddDialogRoot">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:right;">Department:</td>
                    <td style="text-align:left;"><input id="singletonDepartment" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Course Number:</td>
                    <td style="text-align:left;"><input id="singletonCourseNumber" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Semester Code (e.g. F14):</td>
                    <td style="text-align:left;"><input id="singletonSemesterCode" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Pass No Credit:</td>
                    <td style="text-align:left;"><input id="singletonPassNoCredit" type="checkbox" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Communication Intensive:</td>
                    <td style="text-align:left;"><input id="singletonCommIntensive" type="checkbox" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Grade (e.g. 4.00):</td>
                    <td style="text-align:left;"><input id="singletonGrade" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Credits:</td>
                    <td style="text-align:left;"><input id="singletonCredits" type="number" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="singletonSumbit" type="button" onclick="SubmitSingletonClassAddInformation()" value="Submit" /></td>
                    <td style="text-align:left;"><input id="singletonCancel" type="button" onclick="CancelSingletonClassAdd()" value="Cancel" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">O</td>
                    <td style="text-align:left;">R</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:left;"><input id="csvFileInput" type="file" accept=".csv" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="csvAutoPopulateCheckbox" type="checkbox" checked="checked" /></td>
                    <td style="text-align:left;">Auto-populate courses</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="csvImportbutton" type="button" value="Import" onclick="ImportCSVFile()"/></td>
                    <td style="text-align:left"><input type="button" value="Cancel" onclick="CancelSingletonClassAdd()" /></td>
                </tr>
            </table>
        </div>
        <div id="headerBarRoot">
            <div id="headerBarWrapper">
                <div id="userHeader" style="position:relative;display:none;width:100%;">
                    <span id="userHeaderStudentName" style="position:relative;float:left" data-bind="text: user() === null ? 'NO USER' : user().userName"></span>
                    <a onclick="EditUserInfo()" style="cursor:pointer;margin-left:2px;position:relative;float:left;" >edit</a> 
                    <span style="position:relative;float:right;cursor:pointer;" onclick="viewModel.user().signOut()">Logout</span><br />
                    <span id="userHeaderMajor" style="position:relative;float:left" data-bind="text: user() === null ? 'NO MAJOR' : user().major"></span>
                    <span style="position:relative;float:right;cursor:pointer;" onclick="viewModel.print()">Print</span><br />
                    <div data-bind="if: user()">
                        <div data-bind="foreach: user().advisors">
                            <a data-bind="text: name, click: EmailToAdvisor"></a>
                            <a style="cursor:pointer;margin-left:2px" data-bind="click: EditAdvisorInfo">edit</a>
                            <a style="cursor:pointer;margin-left:2px" data-bind="click: DeleteAdvisor">delete</a><br />
                        </div>
                    </div>
                    <span style="cursor:pointer;" data-bind="click: AddNewAdvisor">Add Advisor</span>
                </div>
                <div id="loginHeader" style="position:relative;display:inline-block;width:100%;">
                    <div style="position:relative;float:right;">
                        <span style="position:relative;">User Name:</span>
                        <input id="loginHeaderUserName" style="position:relative;" type="text"/>
                        <span style="position:relative;">Password:</span>
                        <input id="loginHeaderPassword" style="position:relative;" type="password"/>
                        <input id="loginHeaderSignInButton" style="position:relative;" type="button" onclick="SignInButtonClick()" value="Log In"/>
                    </div>
                    <span style="position:relative;float:left;cursor:pointer;" onclick="ShowRegistrationDialog()">Register</span>
                </div>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                    <div id="addClassButton" style="width:100%" onclick="ShowSingletonClassAddDialog()">
                        <span>Add Course</span>
                    </div>
                    <div id="courses" data-bind="foreach: unassignedCourses" >
                        <div class="course">
                            <!-- when we decide what the course boxes are going to look like we will add that population here -->
                            <span data-bind="text: department"></span>
                            <span>-</span>
                            <span data-bind="text: number"></span>
                            <span>(</span>
                            <span data-bind="text: semester"></span>
                            <span>)</span><br />
                            <div class="courseData" data-bind="attr: { 'data-course': JSON.stringify(ToJSONCourse($data)) }" ></div>
                        </div>
                    </div>
                </div>
                <div id="openCloseSidebarDiv" onclick="ToggleSidebar()">
                    <span id="arrowSpan">></span>
                </div>
            </div>
            <div id="mainBody">
                @RenderBody() 
            </div>
        </div>

    </body>
</html>
