<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CAPPamari</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/jquery-ui")
        @Styles.Render("~/Content/themes/base/font-awesome")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/main")
    </head>
    <body>
        <div id="blockingDiv">
            <span id="blockingDivSpan"></span>
        </div>
        <div id="advisorDialogRoot">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: right">Name:</td>
                    <td style="text-align: left"><input id="advisorName" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align: right">Email:</td>
                    <td style="text-align: left"><input id="advisorEmail" type="email" /></td>
                </tr>
                <tr>
                    <td style="text-align: right"><input type="button" onclick=" SubmitAdvisorInformation() " value="Submit" /></td>
                    <td style="text-align: left"><input type="button" onclick=" CancelAdvisorDialog() " value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="registrationDialogRoot">
            <table style="table-layout: fixed; width: 100%;">
                <tr>
                    <td style="text-align: right;">User Name:</td>
                    <td style="text-align: left;"><input id="registrationUsername" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Password:</td>
                    <td style="text-align: left;"><input id="registrationPassword1" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Confirm Password:</td>
                    <td style="text-align: left;"><input id="registrationPassword2" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Major:</td>
                    <td style="text-align: left;"><input id="registrationMajor" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><input id="registrationSubmit" type="button" onclick=" SubmitRegistrationInformation() " value="Submit" /></td>
                    <td style="text-align: left;"><input id="registrationCancel" type="button" onclick=" CancelRegistration() " value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="singletonClassAddDialogRoot">
            <table style="table-layout: fixed; width: 100%;">
                <tr class="singletonForm">
                    <td style="text-align: right;">Department:</td>
                    <td style="text-align: left;"><input id="singletonDepartment" type="text" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">Course Number:</td>
                    <td style="text-align: left;"><input id="singletonCourseNumber" type="text" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">Semester Code (e.g. F14):</td>
                    <td style="text-align: left;"><input id="singletonSemesterCode" type="text" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">Pass No Credit:</td>
                    <td style="text-align: left;"><input id="singletonPassNoCredit" type="checkbox" onchange=" CheckForCsvFile() " /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">Communication Intensive:</td>
                    <td style="text-align: left;"><input id="singletonCommIntensive" type="checkbox" /></td>
                </tr>
                <tr id="singletonGradeRow" class="singletonForm">
                    <td style="text-align: right;">Grade (e.g. 4.00):</td>
                    <td style="text-align: left;"><input id="singletonGrade" type="text" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">Credits:</td>
                    <td style="text-align: left;"><input id="singletonCredits" type="number" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;"><input id="singletonSumbit" type="button" onclick=" SubmitSingletonClassAddInformation() " value="Submit" /></td>
                    <td style="text-align: left;"><input id="singletonCancel" type="button" onclick=" CancelSingletonClassAdd() " value="Cancel" /></td>
                </tr>
                <tr class="singletonForm">
                    <td style="text-align: right;">O</td>
                    <td style="text-align: left;">R</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: left;"><input id="csvFileInput" type="file" accept=".csv" onchange=" CheckForCsvFile() " /></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><input id="csvAutoPopulateCheckbox" type="checkbox" checked="checked" /></td>
                    <td style="text-align: left;">Auto-populate courses</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><input id="csvImportbutton" type="button" value="Import" onclick=" ImportCsvFile() "/></td>
                    <td style="text-align: left"><input type="button" value="Cancel" onclick=" CancelSingletonClassAdd() " /></td>
                </tr>
            </table>
        </div>
        <div id="headerBarRoot">
            <div id="headerBarWrapper">
                <div style="position: absolute; width: 100%; text-align: center; font-size: 40px;">
                    <span style="font-family: 'Brush Script MT', cursive;">CAPPamari</span>
                </div>
                <div id="userHeader" style="display: none; position: relative; width: 100%;">
                    <div style="float: left; position: relative;">
                        <div style="margin: 20px; vertical-align: middle;">
                            <span id="userHeaderStudentName" data-bind="text: user() === null ? 'NO USER' : user().username"></span> - 
                            <span id="userHeaderMajor" data-bind="text: user() === null ? 'NO MAJOR' : user().major"></span>
                            <span class="fa fa-pencil" title="Edit account info" onclick=" EditUserInfo() "></span>
                            <!-- ko if: user() -->
                            <div data-bind="foreach: user().advisors">
                                <span data-bind="text: name"></span>
                                <span class="fa fa-send-o" title="Email report to advisor" data-bind="click: EmailToAdvisor"></span>
                                <span class="fa fa-pencil" title="Edit advisor info"data-bind="click: EditAdvisorInfo"></span>
                                <span class="fa fa-trash-o" title="Delete this advisor" data-bind="click: DeleteAdvisor"></span>
                                <!-- ko if: ($index() === ($parent.user().advisors().length - 1)) -->
                                <span class="fa fa-plus" title="Add a new advisor" data-bind="click: AddNewAdvisor"></span>
                                <!-- /ko -->
                                <!-- ko if: ($index() !== ($parent.user().advisors().length - 1)) -->
                                <br />
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div style="float: right; position: relative;">
                        <div style="margin: 20px; vertical-align: middle;">
                            <span style="cursor: pointer;" onclick=" viewModel.user().signOut() ">Logout</span><br />
                            <span style="cursor: pointer;" onclick=" viewModel.print() ">Print <span class="fa fa-print"></span></span><br />
                        </div>
                    </div>
                </div>
                <div id="loginHeader" style="position: relative; width: 100%;">
                    <div style="float: left; position: relative;">
                        <div style="margin: 20px; vertical-align: middle;">
                            <span style="cursor: pointer;" onclick=" ShowRegistrationDialog() ">Register</span>
                        </div>
                    </div>
                    <div style="float: right; position: relative;">
                        <div style="margin: 20px; vertical-align: middle;">
                            <span>Username:</span>
                            <input id="loginHeaderUsername" type="text" />
                            <span>Password:</span>
                            <input id="loginHeaderPassword" type="password" />
                            <input id="loginHeaderSignInButton" type="button" onclick=" SignInButtonClick() " value="Login" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                    <div id="addClassButton" onclick=" ShowSingletonClassAddDialog() ">
                        <span>Add Course</span>
                    </div>
                    <div id="autopopButton" onclick=" AutoPopulateUnappliedCourses() ">
                        <span>Auto-populate</span>
                    </div>
                    <div id="courses" data-bind="foreach: unassignedCourses">
                        <div class="course">
                            <span data-bind="text: department"></span>
                            <span>-</span>
                            <span data-bind="text: number"></span>
                            <span>(</span>
                            <span data-bind="text: semester"></span>
                            <span>)</span>
                            <span class="fa fa-trash-o" title="Delete this course" data-bind="click: DeleteCourse"></span><br />
                            <div class="courseData" data-bind="attr: { 'data-course': JSON.stringify(ToJsonCourse($data)) }"></div>
                        </div>
                    </div>
                </div>
                <div id="openCloseSidebarDiv" onclick=" ToggleSidebar() ">
                    <span id="arrowSpan"><</span>
                </div>
            </div>
            <div id="mainBody">
                @RenderBody()
            </div>
            <div id="alert" class="ui-corner-all">
            </div>
        </div>
    </body>
</html>