<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="headerBarRoot">
            <!-- check user from forms, if not null populate, otherwise show log in/register header -->
            <div id="headerBarWrapper">
                <span style="position:relative;float:left">Student Name</span>
                <span style="position:relative;float:right">GPA</span><br />
                <span>Advistor with <u>Email Link</u></span>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                </div>
                <div id="openCloseSidebarDiv">
                    <span id="arrowSpan">></span>
                </div>
            </div>
            <div id="mainBody">
                @RenderBody() 
            </div>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
