<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CAPPamari</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="blockingDiv">
            <span id="blockingDivSpan"></span>
        </div>
        <div id="registrationDialogRoot">
            <span>Desired User Name:</span>
            <input id="registrationUserName" type="text" /><br />
            <span>Password:</span>
            <input id="registrationPassword1" type="password" /><br />
            <span>Confirm Password:</span>
            <input id="registrationPassword2" type="password" /><br />
            <span>Major:</span>
            <input id="registrationMajor" type="text" /><br />
            <input id="registrationSubmit" type="button" onclick="SubmitRegistrationInformation()" value="Register" />
            <input id="registrationCancel" type="button" onclick="CancelRegistration()" value="Cancel" />
        </div>
        <div id="singletonClassAddDialogRoot">
            <span>Department:</span>
            <input id="singletonDepartment" type="text" /><br />
            <span>Course Number:</span>
            <input id="singletonCourseNumber" type="text" /><br />
            <span>Semester Code (i.e. F14):</span>
            <input id="singletonSemesterCode" type="text" /><br />
            <span>Pass No Credit:</span>
            <input id="singletonPassNoCredit" type="checkbox" /><br />
            <span>Grade (i.e. 4.0):</span>
            <input id="singletonGrade" type="text" /><br />
            <span>Credits</span>
            <input id="singletonCredits" type="number" /><br />
            <input id="singletonSumbit" type="button" onclick="SubmitSingletonClassAddInformation()" value="Add" />
            <input id="singletonCancel" type="button" onclick="CancelSingletonClassAdd()" value="Cancel" />
        </div>
        <div id="headerBarRoot">
            <div id="headerBarWrapper">
                <div id="userHeader" style="position:relative;display:none;width:100%;">
                    <span id="userHeaderStudentName" style="position:relative;float:left" data-bind="text: user() === null ? 'NO USER' : user().userName"></span>
                    <span style="position:relative;float:right;cursor:pointer;" onclick="viewModel.user().signOut()">Logout</span><br />
                    <span id="userHeaderMajor" style="position:relative;float:left" data-bind="text: user() === null ? 'NO MAJOR' : user().major"></span>
                    <span style="position:relative;float:right;cursor:pointer;" onclick="viewModel.print()">Print</span><br />
                    <div data-bind="if: user()">
                        <div data-bind="foreach: user().advisors">
                            <a data-bind="text: name, attr: { href: 'mailto:' + emailAddress() }"></a>
                        </div>
                    </div>
                </div>
                <div id="loginHeader" style="position:relative;display:inline-block;width:100%;">
                    <input id="loginHeaderSignInButton" style="position:relative;float:right;" type="button" onclick="SignInButtonClick()" value="Log In"/>
                    <input id="loginHeaderPassword" style="position:relative;float:right;" type="password"/>
                    <span style="position:relative;float:right;">Password:</span>
                    <input id="loginHeaderUserName" style="position:relative;float:right;" type="text"/>
                    <span style="position:relative;float:right;">User Name:</span>
                    <span style="position:relative;float:left;cursor:pointer;" onclick="ShowRegistrationDialog()">Register</span>
                </div>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                    <div id="addClassButton" style="width:100%" onclick="ShowSingletonClassAddDialog()">
                        <span>Add Course</span>
                    </div>
                    <div id="courses" data-bind="foreach: unassignedCourses">
                        <div class="course">
                            <!-- when we decide what the course boxes are going to look like we will add that population here -->
                            <span data-bind="text: department"></span>
                            <span>-</span>
                            <span data-bind="text: number"></span>
                            <span>(</span>
                            <span data-bind="text: semester"></span>
                            <span>)</span><br />
                        </div>
                    </div>
                </div>
                <div id="openCloseSidebarDiv" onclick="ToggleSidebar()">
                    <span id="arrowSpan">></span>
                </div>
            </div>
            <div id="mainBody">
                @RenderBody() 
            </div>
        </div>

    </body>
</html>
