<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CAPPamari</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="blockingDiv">
            <span id="blockingDivSpan"></span>
        </div>
        <div id="registrationDialogRoot">
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td style="text-align:right;">Desired Username:</td>
                    <td style="text-align:left;"><input id="registrationUserName" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Password:</td>
                    <td style="text-align:left;"><input id="registrationPassword1" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Confirm Password:</td>
                    <td style="text-align:left;"><input id="registrationPassword2" type="password" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Major:</td>
                    <td style="text-align:left;"><input id="registrationMajor" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="registrationSubmit" type="button" onclick="SubmitRegistrationInformation()" value="Register" /></td>
                    <td style="text-align:left;"><input id="registrationCancel" type="button" onclick="CancelRegistration()" value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="singletonClassAddDialogRoot">
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td style="text-align:right;">Department:</td>
                    <td style="text-align:left;"><input id="singletonDepartment" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Course Number:</td>
                    <td style="text-align:left;"><input id="singletonCourseNumber" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Semester Code (e.g. F14):</td>
                    <td style="text-align:left;"><input id="singletonSemesterCode" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Pass No Credit:</td>
                    <td style="text-align:left;"><input id="singletonPassNoCredit" type="checkbox" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Communication Intensive:</td>
                    <td style="text-align:left;"><input id="singletonCommIntensive" type="checkbox" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Grade (e.g. 4.0):</td>
                    <td style="text-align:left;"><input id="singletonGrade" type="text" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Credits:</td>
                    <td style="text-align:left;"><input id="singletonCredits" type="number" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;"><input id="singletonSumbit" type="button" onclick="SubmitSingletonClassAddInformation()" value="Add" /></td>
                    <td style="text-align:left;"><input id="singletonCancel" type="button" onclick="CancelSingletonClassAdd()" value="Cancel" /></td>
                </tr>
            </table>
        </div>
        <div id="headerBarRoot">
            <div id="userHeader" style="position:relative;display:none;width:100%;min-height:75px;">
                <div style="position:relative;float:left;">
                    <div style="vertical-align:middle;margin:20px;">
                        <div data-bind="if: user()">
                            <span id="userHeaderStudentName" style="position:relative;" data-bind="text: user().userName"></span>
                            <span style="position:relative;"> - </span>
                            <span id="userHeaderMajor" style="position:relative;" data-bind="text: user().major"></span>
                            <div data-bind="foreach: user().advisors">
                                <span style="position:relative;cursor:pointer;" data-bind="text: 'Email ' + name(), click: EmailToAdvisor"></span>
                            <div>
                        </div>
                    </div>
                </div>
                <div style="position:relative;float:right;">
                    <div style="vertical-align:middle;margin:20px;">
                        <span style="position:relative;cursor:pointer;" onclick="viewModel.user().signOut()">Logout</span><br />
                        <span style="position:relative;cursor:pointer;" onclick="viewModel.print()">Print</span><br />
                    </div>
                </div>
            </div>
            <div id="loginHeader" style="position:relative;width:100%;min-height:59px;">
                <div style="position:relative;float:left;">
                    <div style="vertical-align:middle;margin:20px;">
                        <span style="position:relative;cursor:pointer;" onclick="ShowRegistrationDialog()">Register</span>
                    </div>
                </div>
                <div style="position:relative;float:right;">
                    <div style="vertical-align:middle;margin:20px;">
                        <span style="position:relative;">Username:</span>
                        <input id="loginHeaderUserName" style="position:relative;" type="text" />
                        <span style="position:relative;">Password:</span>
                        <input id="loginHeaderPassword" style="position:relative;" type="password" />
                        <input id="loginHeaderSignInButton" style="position:relative;" type="button" onclick="SignInButtonClick()" value="Login" />
                    </div>
                </div>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                    <div id="addClassButton" style="width:100%" onclick="ShowSingletonClassAddDialog()">
                        <span>Add Course</span>
                    </div>
                    <div id="courses" data-bind="foreach: unassignedCourses">
                        <div class="course">
                            <!-- when we decide what the course boxes are going to look like we will add that population here -->
                            <span data-bind="text: department"></span>
                            <span>-</span>
                            <span data-bind="text: number"></span>
                            <span>(</span>
                            <span data-bind="text: semester"></span>
                            <span>)</span><br />
                        </div>
                    </div>
                </div>
                <div id="openCloseSidebarDiv" onclick="ToggleSidebar()">
                    <span id="arrowSpan">></span>
                </div>
            </div>
            <div id="mainBody">
                <div id="alertDialog">
                </div>
                @RenderBody() 
            </div>
        </div>

    </body>
</html>
