<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CAPPamari</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("header", required: false)
    </head>
    <body>
        <div id="headerBarRoot">
            <div id="headerBarWrapper">
                <div id="userHeader" style="position:relative;display:inline-block;width:100%">
                    <span id="userHeaderStudentName" style="position:relative;float:left">Student Name</span>
                    <span style="position:relative;float:right" onclick="user.signOut()">Logout</span><br />
                    <!-- major --><br />
                    <!-- advisors -->
                </div>
                <div id="loginHeader" style="position:relative;display:inline-block;width:100%">
                    <input id="loginHeaderSignInButton" style="position:relative;float:right;" type="button" onclick="SignInButtonClick()" value="Log In"/>
                    <input id="loginHeaderPassword" style="position:relative;float:right;" type="password"/>
                    <span style="position:relative;float:right;">Password:</span>
                    <input id="loginHeaderUserName" style="position:relative;float:right;" type="text"/>
                    <span style="position:relative;float:right;">User Name:</span>
                </div>
            </div>
        </div>
        <div id="mainScreen">
            <div id="sidebarRoot">
                <div id="sidebarWrapper">
                </div>
                <div id="openCloseSidebarDiv" onclick="ToggleSidebar()">
                    <span id="arrowSpan">></span>
                </div>
            </div>
            <div id="mainBody">
                @RenderBody() 
            </div>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
